* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

/*

NAV

*/

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid black;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
}

nav .logo--img {
  width: 50px;
  height: 50px;
}

nav .logo--title {
  font-size: 24px;
}

nav .row {
  display: flex;
  align-items: center;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D4DFF;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.nav__btn {
  padding: 10px 20px;
  margin: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #4D4DFF;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease;
}

.nav__btn--primary {
  color: black;
  background-color: #dbdbdb;
}

.nav__btn:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

/*

BUTTONS

*/

button {
  padding: 10px 20px;
  margin: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #4D4DFF;
  cursor: pointer;
  transition: all 300ms ease;
}

button:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

/*

LOGIN AND REGISTER

*/

.login, .register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login form, .register form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.redirect {
  margin-top: 20px;
}